<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/reset.css" />
        <link rel="stylesheet" href="/styles/beranda.css" />
        <link rel="stylesheet" href="/styles/font.css" />
        <title></title>
    </head>
    <body>
        <div id="wrap_popup_call" class="wrap-popup-call">
            <form id="popup_call">
                <h1 id="call_title">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="28"
                        height="28"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="3"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-video-icon lucide-video"
                    >
                        <path
                            d="m16 13 5.223 3.482a.5.5 0 0 0 .777-.416V7.87a.5.5 0 0 0-.752-.432L16 10.5"
                        />
                        <rect x="2" y="6" width="14" height="12" rx="2" />
                    </svg>
                </h1>
                <div id="action_call">
                    <button type="submit" id="accept_call">Angkat</button>
                    <button type="button" id="reject_call">Tolak</button>
                </div>
            </form>
        </div>
        <nav id="navigation_home">
            <h1 id="kontak_title">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-video-icon lucide-video"
                >
                    <path
                        d="m16 13 5.223 3.482a.5.5 0 0 0 .777-.416V7.87a.5.5 0 0 0-.752-.432L16 10.5"
                    />
                    <rect x="2" y="6" width="14" height="12" rx="2" /></svg
                >TemuBatir
            </h1>
            <div id="search_box">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-search-icon lucide-search"
                >
                    <path d="m21 21-4.34-4.34" />
                    <circle cx="11" cy="11" r="8" />
                </svg>
                <input
                    placeholder="Cari kontak"
                    type="text"
                    id="input_search"
                />
            </div>
        </nav>
        <div id="home_page">
            <h1 id="contacts_loading">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-loader-icon lucide-loader"
                >
                    <path d="M12 2v4" />
                    <path d="m16.2 7.8 2.9-2.9" />
                    <path d="M18 12h4" />
                    <path d="m16.2 16.2 2.9 2.9" />
                    <path d="M12 18v4" />
                    <path d="m4.9 19.1 2.9-2.9" />
                    <path d="M2 12h4" />
                    <path d="m4.9 4.9 2.9 2.9" /></svg
                >Memuat data kontak...
            </h1>
            <h1 id="contacts_empty">Belum ada kontak</h1>
        </div>
        <div id="wrap_form_add_contact" class="form_add_contact is_hidden">
            <form id="form_add_contact">
                <h1 id="title_add_contact">Tambah Kontak</h1>
                <p id="add_contact_error"></p>
                <input placeholder="Nama Kontak" type="text" id="name_add" />
                <input
                    placeholder="Nomor WA"
                    type="number"
                    id="wa_number_add"
                />
                <button type="submit" id="submit_add_contact">Tambahkan</button>
                <button
                    type="button"
                    class="submit_add_contact"
                    id="loading_add_contact"
                >
                    Menambahkan...
                </button>
                <button type="button" id="close_add_contact">Batal</button>
            </form>
        </div>
        <div
            id="wrap_pop_up_confirm_del_contact"
            class="wrap_pop_up_confirm_del_contact is_hidden"
        >
            <form id="pop_up_confirm_del_contact">
                <p>Anda yakin ingin menghapus kontak ini?</p>
                <p id="del_contact_error"></p>
                <button type="submit" id="submit_del_contact">Hapus</button>
                <button
                    type="button"
                    class="submit_del_contact"
                    id="loading_del_contact"
                >
                    Menghapus...
                </button>
                <button type="button" id="close_del_contact">Batal</button>
            </form>
        </div>
        <div id="add_contact">
            <button id="add_contact_btn">+ Tambah Kontak</button>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.min.js"></script>
        <script src="/scripts/beranda.js"></script>
    </body>
</html>
