body {
    background-color: rgba(248, 248, 248, 1);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}

#call_title {
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#action_call {
    display: flex;
    margin-top: 1.5rem;
    gap: 1rem;
    justify-content: center;
}

#navigation_home {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    background-color: rgba(248, 248, 248, 1);
    padding: 1.2rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    position: fixed;
    top: 0;
    flex-direction: column;
    z-index: 999;
}

#search_box {
    width: 100%;
    position: relative;
    margin-top: 1rem;
    color: rgba(100, 100, 100, 1);
    display: flex;
    align-items: center;
}

.lucide-search {
    position: absolute;
    left: 1rem;
}

#input_search {
    width: 100%;
    outline: none;
    border: 2px solid rgba(230, 230, 230, 1);
    border-radius: 99999999rem;
    padding: 0.8rem 3rem;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-weight: 700;
}

#input_search::placeholder {
    font-weight: 500;
}

#kontak_title, #title_add_contact {
    color: rgba(50, 150, 255, 1);
    align-items: center;
    display: flex;
    font-weight: 700;
    gap: 0.5rem;
    font-size: 1.5rem;
}

#home_page {
    padding: 1.2rem;
    margin-top: 8rem;
    padding-bottom: 10rem;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
}

#contacts_loading, #contacts_empty, #contacts_not_found {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(100, 100, 100, 1);
    display: flex;
    width: 100%;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#contacts_empty {
    display: none;
}

.lucide-loader {
    animation: spin 2.5s linear infinite;
}

.contact_card, .info_contact_wrap, .action_contact {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.action_contact {
    justify-content: center;
}

.contact_card {
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    flex-direction: column;
}

.contact_name {
    white-space: nowrap;
    overflow: hidden;
    max-width: 15ch;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    font-weight: 700;
}

.contact_number {
    font-size: 0.8rem;
    color: rgba(100, 100, 100, 1);
    margin-top: 0.4rem;
}

.info_contact {
    flex-grow: 3;
}

.call_contact, .del_contact, #accept_call, #reject_call {
    display: flex;
    align-items: center;
    background-color: rgba(50, 150, 255, 1);
    color: rgba(248, 248, 248, 1);
    border-radius: 9999999rem;
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    gap: 0.5rem;
}

.del_contact, #reject_call {
    background-color: rgba(255, 50, 50, 1);
}

#accept_call {
    background-color: rgba(50, 255, 150, 1);
    color: rgba(80, 80, 80, 1);
}

#add_contact {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 1rem 1.2rem;
    background-color: transparent;
    box-sizing: border-box;
}

#add_contact_btn {
    background-color: rgba(50, 150, 255, 1);
    color: rgba(248, 248, 248, 1);
    border-radius: 9999999rem;
    padding: 0.8rem 2rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    z-index: 999;
}

.form_add_contact, .wrap_pop_up_confirm_del_contact, .wrap-popup-call {
    inset: 0;
    position: absolute;
    backdrop-filter: blur(2px);
    background-color: transparent;
    z-index: 9999;
    padding: 1.2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-popup-call {
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, .7);
    display: none;
}

#form_add_contact, #pop_up_confirm_del_contact {
    width: 100%;
    max-width: 600px;
    background-color: rgba(252, 252, 252, 1);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    align-items: center;
    height: fit-content;
    padding: 1.2rem;
    gap: 1rem;
}

#add_contact_error, #del_contact_error {
    text-align: center;
    margin-top: 0.5rem;
    color: red;
    display: none;
}

#name_add, #wa_number_add {
    width: 100%;
    outline: none;
    border: 2px solid rgba(230, 230, 230, 1);
    border-radius: 0.2rem;
    padding: 0.8rem 2rem;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-weight: 700;
}

#name_add::placeholder, #wa_number_add::placeholder {
    font-weight: 500;
}

#submit_add_contact, .submit_add_contact, #close_add_contact, #submit_del_contact, .submit_del_contact, #loading_del_contact, #close_del_contact {
    border: none;
    outline: none;
    background-color: rgba(50, 150, 255, 1);
    border-radius: 0.3rem;
    color: rgba(252, 252, 252, 1);
    padding: 0.8rem 1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

#loading_del_contact, #submit_del_contact {
    background-color: rgba(255, 50, 50, 1);
}

.submit_add_contact, #loading_del_contact { 
    display: none;
}

#close_add_contact, #close_del_contact {
    background-color: rgba(252, 252, 252, 1);
    color: rgba(100, 100, 100, 1);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.is_hidden {
    display: none;
}