body {
    background-color: rgba(248, 248, 248, 1);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
}

#video_call {
    width: 100vw;
    height: 50vh;
    position: relative;
    display: none;
    inset: 0;
}

#remoteVideo {
    width: 100%;
    position: relative;
    height: 50vh;
    inset: 0;
    object-fit: cover;
}

#local {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 999;
    inset: 0;
    width: 100%;
    height: 100%;
}

#localVideo {
  transform: scaleX(-1);
  object-fit: cover;
  position: absolute;
  z-index: 998;
  width: 100%;
  height: 100%;
}

#end_call {
    display: flex;
    align-items: center;
    background-color: rgba(255, 50, 75, 1);
    color: rgba(30, 30, 30, 1);
    border-radius: 9999999rem;
    padding: 1.5rem 3.5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    gap: 0.5rem;
    left: 5rem;
    bottom: 20rem;
    font-size: 4rem;
    z-index: 1000;
    margin-bottom: 3rem;
    border: 2px solid white;
}